<div class="container">
  <div class="row">
    <div class="card-group my-4 border-warning">
      <div class="card card-left">
        <div class="card-body">
          <ul class="list-group">
            {{#each burger}}
            {{#unless devoured}}
            <li class="list-group-item bg-transparent">
              <div class="row">
                <div class="col-5">
                  <div class="burgers">
                    {{ burger_name }}
                  </div>
                </div>
                <div class="col-7">
                  {{> burger/button}}
                </div>
              </div>
            </li>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="card bg-dark text-white text-center card-middle">
        <div class="card-header position-relative">
          <h1 class="card-title title">Eat-Da-Burger!</h1>
          <span class="subtitle">Sequelized</span>
        </div>
        <img src="assets/img/burger-1.jpg" class="card-img" alt="Yummy Burgers!">
        <div class="card-body">
        </div>
        <div class="card-footer">
          <form>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-warning border-warning"><i
                    class="fas fa-hamburger"></i></span>
              </div>
              <input list="burgers" type="text" class="form-control bg-dark text-warning border-warning"
                name="burger_name" id="burger_name" placeholder="Insert Name">
              <datalist id="burgers">
                <option value="Western Bacon Cheeseburger">
                <option value="Beyond BBQ Cheeseburger">
                <option value="Sriracha Bacon Burger">
                <option value="Bleu Ribbon Burger">
                <option value="Grilled Turkey Burger">
              </datalist>
              <div class="input-group-append">
                <button class="btn btn-outline-warning" type="submit" id="submit">Add burger</button>
              </div>
            </div>
            <div class="invalid-feedback"></div>
          </form>
        </div>
      </div>
      <div class="card card-right">
        <div class="card-body">
          <ul class="list-group">
            {{#each burger}}
            {{#if devoured}}
            <li class="list-group-item  bg-transparent text-left burgers position-relative eaten">
              {{ burger_name }} <span class="gone">{{ Customer.name}}</span>
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="text-light text-center small">Made for UOA Bootcamp, November 2019</p>